.search-cards-err {
  text-align: center;
  font-weight: bold;
  margin: auto;
}

.search-cards-container {
  padding: 15px 5px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 15px;
}

@media (max-width: 1000px) {
  .search-cards-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 600px) {
  .search-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
