.board-item {
  position: relative;
  max-width: 200px;
  width: 100%;
  margin: 0 1rem 1rem 0;
  padding: 15px;

  background-color: rgb(119 136 153 / 80%);
  border-radius: 4px;

  &:hover .board-item__delete-btn {
    opacity: 1;
    transform: translate(0);
  }
}

.board-item__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.board-item__info {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.board-item__title {
  display: -webkit-box;
  height: 19px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 100;
}

.board-item__title-desc {
  height: 32px;
  -webkit-line-clamp: 2;
  font-size: 14px;
  color: gainsboro;
}

.board-item__delete-btn {
  position: relative;
  z-index: 1;
  padding: 4px 6px;
  height: 24px;
  align-self: flex-end;

  color: #ffffff;
  font-size: 14px;
  font-weight: 100;
  border-radius: 2px;
  border: none;
  background-color: #d80000;
  box-shadow: 0 0 2px #000;
  opacity: 0;
  transform: translate(15px);
  transition: all 150ms ease-in;

  &:hover {
    background-color: #ff0000;
  }
}
