.board__title {
  color: #b0c4de;
  font-size: 24px;
  font-weight: 500;
}

.board-list {
  display: flex;
  flex-wrap: wrap;

  .no-data {
    margin: 0;
    font-weight: 100;
    color: #d7d7d7;
  }
}
