.loader {
  width: 100px;
  height: 100px;
  animation: rotation 4s infinite linear;
}

.search-field,
.search-button {
  border-radius: 5px;
  height: 40px;
  border: 0;
  outline: 0;
  margin: 5px;
}

.search-button {
  text-transform: uppercase;
  font-weight: bold;
  width: 160px;
}

.advanced-search-wrapper {
  min-height: 100px;
  width: 510px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: left;
  margin: auto;
}

.panel-wrapper {
  justify-content: space-between;
  height: 50px;
  width: 520px;
}

.search-per-page {
  max-width: 50px;
}

.search-page-current {
  min-width: 25px;
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
