@import '../../sass/variables';

#header {
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
  transition: background 1s ease 0s, box-shadow 1s ease 0s;
}

.nav-item {
  display: block;
  .active {
    font-weight: bold;
    text-decoration: underline;
  }
  .header-button {
    margin-top: 12px;
  }
  .lang-button {
    color: $blue-trello;
  }
  .lang-button-red {
    color: red;
  }
}

.nav-wrapper {
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
}

.nav-inner {
  display: flex;
  margin: 0;
  text-decoration: none;
  color: #fff;
  height: $header-height;
  align-items: center;
  &:hover {
    color: #fab117;
  }
}

.header {
  background-color: $blue-trello;
}

.header-fixed {
  background-color: #0747a6;
  box-shadow: inset 0 0 10px rgb(0 0 0 / 50%);
}
