@import '../../sass/variables';

#header {
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
  transition: background 1s ease 0s, box-shadow 1s ease 0s;
}

.nav-item {
  display: block;
  .active {
    color: #ffd700;
    &:hover {
      span {
        &:after {
          transform: scaleX(0);
        }
      }
    }
  }
  .header-button {
    background: none;
    border: none;
    outline: none;
  }
  .lang-button {
    font-weight: bold;
    padding: 0;
    width: 32px;
    margin-top: 9px;
    height: 32px;
    color: $blue-trello;
    background-color: #fff;
    border-radius: 100px;
    &:hover {
      color: $blue-trello;
    }
  }
  .lang-button-red {
    color: red;
  }
}

.nav-wrapper {
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
}

.nav-inner {
  display: flex;
  margin: 0;
  text-decoration: none;
  color: #fff;
  height: $header-height;
  align-items: center;
  &:hover {
    span {
      &:after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }
  span {
    position: relative;
    i {
      margin-right: 5px;
    }
    &:after {
      position: absolute;
      content: '';
      top: 120%;
      left: 0;
      width: 100%;
      height: 2px;
      background: #fff;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.5s;
    }
  }
}

.nav-app-logo {
  width: 36px;
  height: 36px;
  background: url('../../assets/svg/app_logo.svg') center / cover no-repeat;
  margin-top: 7px;
  transition: all 0.3s;
  &:hover {
    transform: scale(1.15);
  }
}

.header {
  background-color: $blue-trello;
}

.header-fixed {
  background-color: #0747a6;
  box-shadow: inset 0 0 10px rgb(0 0 0 / 50%);
}
