@import '../../sass/variables';

#footer {
  background: #d7e1ec;
  color: #000;
  height: $footer-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .course-logo {
    width: 80px;
    height: 40px;
    font-size: 0;
    display: block;
    background: url('../../assets/svg/rs_school_js.svg') center / contain no-repeat;
  }
}
