@import '../../sass/variables';

#footer {
  background: #eaeef3;
  color: #000;
  height: $footer-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 90px 0;
}
.footer {
  width: 100%;
}
.course-logo {
  width: 160px;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}
.footer__social {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.footer__social-icon {
  transition-duration: .3s;
  &:hover {
    fill: #fc5c65;
    cursor: pointer;
  }
}
@media (max-width: 468px) {
  .footer__wrapper {
    justify-content: center;


  // .course-logo {
  //   width: 80px;
  //   height: 40px;
  //   font-size: 0;
  //   display: block;
  //   background: url('../../assets/svg/rs_school_js.svg') center / contain no-repeat;
  }
}
