.main-nav-btn {
  transition: all 0.3s ease-out;
  box-shadow: 0 0 20px rgb(0 0 0 / 70%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
  &:visited,
  &:hover,
  &:active {
    color: #000;
  }
  &:hover {
    filter: brightness(1.2);
  }
  i {
    margin: 5px;
  }
  width: 120px;
  height: 34px;
  padding: 5px;
  border: 0;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  margin-top: 12px;
  border-radius: 5px;
}

.main-nav-btn-dark {
  color: #fff;
  background: none;
  &:visited,
  &:hover,
  &:active {
    color: #fff;
    background: none;
  }
  box-shadow: none;
}

.welc-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.buttons-head-top {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.front-sec-one {
  background: linear-gradient(345deg, #026a8d, rgba(28, 5, 169, 0.3) 60%), #000;
  .front-content-wrapper {
    display: flex;
    height: 680px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

.main-title-heading {
  font-size: 40px;
  font-weight: 600;
}

.sec-one-left {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  flex-direction: column;
  @media (max-width: 800px) {
    width: 100%;
    height: 55%;
    .main-title-heading {
      font-size: 26px;
    }

    .front-content-paragraph {
      font-size: 16px;
    }
  }
}

.sec-one-right {
  background: url('../../assets/img/kanban.png') center / contain no-repeat;
  width: 55%;
  padding: 15px;
  @media (max-width: 800px) {
    height: 40%;
    width: 100%;
    order: -1;
    background: url('../../assets/img/kanban.png') center / contain no-repeat;
  }
}

.front-sec-two {
  background: linear-gradient(189deg, #026a8d, rgba(28, 5, 169, 0.3) 60%), #000;
  height: 400px;
}

.front-sec-three {
  background: linear-gradient(350deg, #026a8d, rgba(28, 5, 169, 0.3) 60%), #000;
  height: 600px;
}

.front-sec-four {
  background: linear-gradient(188deg, #026a8d, rgba(28, 5, 169, 0.3) 60%), #000;
  height: 500px;
}

.front-content-wrapper {
  max-width: 1220px;
  margin: 0 auto;
  padding: 10px;
}
.front-content-paragraph {
  font-size: 18px;
  line-height: 1.5em;
}

.front-sec-title {
  text-align: center;
  font-size: 24px;
}
