.main-nav-btn {
  transition: all 0.3s ease-out;
  box-shadow: 0 0 20px rgb(0 0 0 / 70%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
  &:visited,
  &:hover,
  &:active {
    color: #000;
  }
  &:hover {
    filter: brightness(1.2);
  }
  i {
    margin: 5px;
  }
  width: 128px;
  height: 34px;
  padding: 5px;
  border: 0;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  margin-top: 12px;
  border-radius: 5px;
}

.main-nav-btn-dark {
  color: #fff;
  background: none;
  &:visited,
  &:hover,
  &:active {
    color: #fff;
    background: none;
  }
  box-shadow: none;
}

.welc-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.buttons-head-top {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.front-sec-one {
  background-color: #f5f7fa;
  /* background: linear-gradient(345deg, #026a8d, rgba(28, 5, 169, 0.3) 60%), #000; */
  background-color: #ffffff;
  background-image: linear-gradient(0deg, #ffffff 0%, #d7e1ec 74%);
  .front-content-wrapper {
    display: flex;
    height: 680px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

.main-title-heading {
  font-size: 36px;
  font-weight: 600;
}

.sec-one-left {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  flex-direction: column;
  color: #000428;

  .main-nav-btn {
    color: #fff;
    &:visited,
    &:hover,
    &:active {
      color: #fff;
    }
    background-color: #000428;
    background-image: linear-gradient(315deg, #000428 0%, #000 74%);
  }

  .main-nav-btn-dark {
    color: #000428;
    background: none;
    &:visited,
    &:hover,
    &:active {
      color: #000;
      filter: brightness(1.1);
    }
  }

  @media (max-width: 800px) {
    width: 100%;
    height: 60%;
    .main-title-heading {
      font-size: 26px;
    }

    .front-content-paragraph {
      font-size: 16px;
    }
  }
}

.sec-one-right {
  background: url('../../assets/img/kanban3.svg') center / contain no-repeat;
  width: 60%;
  padding: 15px;
  @media (max-width: 800px) {
    height: 40%;
    width: 100%;
    order: -1;
    background: url('../../assets/img/kanban3.svg') center / contain no-repeat;
  }
}

.front-sec-two {
  background: #fff;
  color: #000428;
  height: 400px;
}

.front-sec-three {
  /*  background: linear-gradient(350deg, #026a8d, rgba(28, 5, 169, 0.3) 60%), #000; */
  background: #fff url('../../assets/img/kanban.svg') center / contain no-repeat;
  height: 600px;
}

.front-sec-four {
  background-color: #ffffff;
  background-image: linear-gradient(180deg, #ffffff 0%, #d7e1ec 74%);
  height: 500px;
  color: #000428;
}

.front-content-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
}
.front-content-paragraph {
  font-size: 18px;
  line-height: 1.5em;
}

.front-sec-title {
  text-align: center;
  font-size: 24px;
}

.video-el {
  width: auto;
  height: auto;
  display: block;
  margin: auto;
  top: 0;
  left: 0;
  height: 300px;
  border-radius: 5px;
}
